<h1>Saved Bookmarks</h1>

<a href="links/new">Add bookmark</a><br />

<% if @filter %>
<a href="/links">Back to bookmarks</a>
<% else %>
<br /><form name ='filter' action='/tag/filter' method='post'>
  <label for='filter'>
    Filter by tag:<br />
<input type="text" name="filter">
<button type="submit">Filter</button>

<% end %>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %> </br>
      URL:   <%= link.url   %> </br>
      Tags:   <%= link.tags.map(&:title) %> </br>
      <br />
    </li>
  <% end %>
</ul>
