<html>
<body>
<h1> Add new bookmark </h1>
<form name ='add_link' action='/links' method='post'>
  <label for='title'>
  Please add the title of the bookmark <br />
<input type="text" name="title"><br />
  <label for='url'>
  Please add the URL of the bookmark<br />
<input type="text" name="url"> <br />
  <label for='tag'>
  Please add a tag <br />
<input type="text" name="tag"> <br />
<button type="submit">Add</button>
</body>
</html>
